
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background: #eed8d8;

}

#container{
    width: 720px;
    margin: 0px auto;
    background: #f2f2f2;

}

#marca{
    height: 100px; 
    background: #9e9e9e;
    text-align: center;
    line-height: 100px
}

#conteudo{
    width: 520px;
    float: right;

}

#conteudo-prinicipal{

    width: 320px;
    float: left;
}


#conteudo-secundario{

    width: 180;
    float: right;
    background: #d1d1d1;
}

#navegacao{
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;

}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}


ul, a{

    list-style: none;
    text-decoration: none;
    

}

a:hover, a:visited{

    background-color: rgb(108, 185, 35);

}
