ul {

    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 720px;
    background: #ffffff url(image/fundo-horizontal.png) repeat-x;
    float: left;


}


ul li{
    float: left;


}

ul a{
    display: block;
    padding: 0 2em;
    margin: 0px;
    line-height: 2em;
    text-decoration: none;
    color: wheat;
    background: url(image/divisor.png) repeat-y left top;
}

ul .primeiro a{

    background: none;

}

ul a:hover{ 

    color: #085662;
    background: #44cade;


}
