*{
    margin: 0;
    padding: 0;
}

body{

    background-color: rgb(121, 135, 130);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

/*
 *****LAYOUT***** 
*/

#area-cabechalo{

    background-color: #f7b600;
    text-align: center;
    padding: 15px;

}

#area-logo, #area-manu{
    padding: 10px;
}

#area-principal{

    width: 920px;
    margin: 0 auto;

}

#area-postagens, #area-lateral{
    background-color: aqua;
}

#area-postagens{
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;


}

#rodape{
    clear: both;
    text-align: center;
    background-color:#CCC;
    padding: 15px;
}



/*
 *****Formatacoes MENU***** 
*/

a{
text-decoration: none;

}

a:link, a:visited{
    color: #fff;
    padding: 8px 12px;
}

a:hover{
   color: #f7b600 ; 
   background-color: white;
}

/*
 *****Formatacoes Gerais***** 
*/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}


