@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #18181b;
}

#container{
    display: flex;
    align-items: center;
    gap: 3.5rem;

}

#img img{
    width: 32rem;
}

#calculator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;

}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title{
    font-size: 2.25rem;
    position: relative;
}


#title::after{
    position: relative;
    content: '';
    background-color: #1ca34a;
    display: block;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;

}

.input-box label{
    font-size: 1.25rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 8px;
    margin-top: 3px;
}

.input-field span,
.input-field i {
    font-size: 1.25rem;
    color: #cbd5e1;
    padding: 0.6 1rem;
}

.input-field input{
    background-color: #3f3f46;
    border: none;
    color: #f8fafc;
    font-size: 1.25rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
}

.input-field input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
}

.input-field input::focus{
    outline: none;
}

#calculate{
    background-color: #1ca34a;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    color: #f8fafc;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adicionado */
}

#calculate:hover{
    background-color: #1a9340;
    transform: scale(1.05); /* Adicionado */
}

#result{ 
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#bmi{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}	

#bmi span:last-child{
    font-size: 0.875rem;
    color: #cbd5e1;
}	

#description{
    width: 20rem;   
}

#more_info{
    
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}
#more_info a {
    color: #1ca34a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 0.875rem;
    transition: color 0.3s ease;
}

#more_info a:hover{
    text-decoration: underline;
    color: #cbd5e1;
}

.hidden{
    display: none;
}

.normal{
    color: #1a9340;
}

.attention{
    color: #f1c40f;
}

