
/*
ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{

    padding: 5px 20px;
    background: url(image/seta.png) no-repeat left center;
}

*/


ul{


    margin: 0px;
    padding: 0px;
    list-style-type: none;

}

ul a {
    
    width: 200px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: black;
    text-indent: 40px;
    line-height: 40px;
    background: blueviolet url(image/menu.png) no-repeat left bottom;

}

a:hover, .selecionado a{

    background-position: right bottom;
    color: aliceblue;
    background-color: aqua;

}